@import '/src/assets/sass/functions';
@import '/src/assets/sass/vars';
@import '/src/assets/sass/mixins';

.messages {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(14);
	overflow-y: auto;
	width: 100%;
	padding-right: toRem(8);
}
.messageContainer {
	display: flex;
	gap: 16px;
	max-width: 70%;
	&Right {
		align-self: flex-end;
		flex-direction: row-reverse;
	}
}
.message {
	display: flex;
	flex-direction: column;
	gap: toRem(4);
	padding: toRem(10) toRem(14);
	max-width: 100%;

	&Left {
		background-color: var(--primary-color);
		border-radius: 10px 10px 10px 0;
		color: white;
	}
	&Right {
		background-color: var(--color-light-gray);
		align-items: flex-end;
		border-radius: 10px 10px 0 10px;
	}
}
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: toRem(260);
	min-width: 100%;
}
.ava {
	align-self: end;
	flex-shrink: 0;
	width: toRem(50);
	height: toRem(50);
	overflow: hidden;
	border-radius: 50%;
}
.text {
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
}
.img {
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 0;
}
.time {
	color: rgb(57, 57, 57);
	font-size: toRem(12);
}
