:root {
	--primary-color: rgb(93, 177, 159);
	--color-green: rgb(117, 228, 123);
	--primary-color-light: rgba(171, 219, 209, 0.39);
	--primary-color-dark: #5268b9;
	--color-card-dark: #2a2a2a;
	--color-gray: #717171;
	--color-light-gray: rgb(230, 230, 230);
}
